@model MVC_Assignment1.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>LastPage</title>
    <style>
        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1>Thank you, @Model.UserName!</h1>
        <div class="lead">
            @if (Model.UserName == "")
            {
                @:Please restart and enter a name
            }
            else
            {
                <h1>Welcome to my final page @Model.UserName</h1>
                <h2>Your phone number is @Model.PhoneNumber</h2>
                <h2>Your email id is @Model.EmailId</h2>
            }
        </div>
    </div>
</body>
</html>
