@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>

    <style>
        .btn a {
            color: white;
            text-decoration: none
        }

        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h2>Hello. My name is Deep. Welcome to Basics of MVC</h2>
        <h3>Click the button below to go to next page</h3>
        <div class="btn btn-success">
            @Html.ActionLink("Next Page", "UserForm")
        </div>
    </div>
</body>
