@model MVC_Assignment1.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/Style.css" rel="stylesheet" />
    <title>UserForm</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>UserForm</h4></div>
        <div class="panel-body">
                <div class="form-group">
                    <label for="usr">Name:</label>
                    <input type="text" class="form-control" id="UserName">
                </div>

                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="Submit Form" />
                </div>
        </div>
    </div>
</body>
</html>

